# Git yazılımının kara listesi (Repoya yüklenmesini istemediğimiz dosyaları ve klasörleri burada tanımlıyoruz)

# Sanal ortam klasörlerini yok say
.venv/
venv/

# Python derleme dosyaları
__pycache__/
__pycache__/app.cpython-313.pyc
__pycache__/veritabani_fonksiyonlari.cpython-313.pyc
*.py[cod]
*.pyo

# .github klasörünü yok say
.github/

# Çeşitli sistem dosyaları (genel iyi bir pratik)
.DS_Store
Thumbs.db

